<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org" xmlns:xmlms="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Members Directory</title>
</head>
<body>
<div>
    <ul>
        <li th:text="${member.id}"></li>
        <li th:text="${member.gender}"></li>
        <li th:text="${member.lastName}"></li>
        <li th:text="${member.firstName}"></li>
        <li th:text="${member.birthDate}"></li>
        <li th:text="${member.tel}"></li>
        <li th:text="${member.email}"></li>
        <li th:text="${member.postCode}"></li>
        <li th:text="${member.city}"></li>
    </ul>
</div>

</body>
</html>