<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form action="/Members" method="post">
    <label>Mr </label><input type="radio" name="mr">
    <label>Mme </label><input type="radio" name="mme">
    <br><br>
    <label class="width">Nom: </label><input type="text" name="nom">
    <br><br>
    <label class="width">Prénom: </label><input type="text" name="prenom">
    <br><br>
    <label class="width">Date de naissance: </label><input type="text" name="ddn">
    <br><br>
    <label class="width">Tél: </label><input type="text" name="tel">
    <br><br>
    <label class="width">Email: </label><input type="text" name="email">
    <br><br>
    <label class="width">CP: </label><input type="text" name="cp">
    <br><br>
    <label class="width">Ville: </label><input type="text" name="ville">
    <br><br>
    <input type="submit" value="Enregister">
</form>

</body>
</html>